@import url("theme.css");

* {
    background-image: none;
    box-shadow: none;
}

window {
    background-image: url("/tmp/shot_blurred.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    color: @main-fg;
    background-color: @main-bg;
    border: 2px solid transparent;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

button:focus, button:active {
    background-color: @wb-act-bg;
    background-size: 30%;
    border: 2px solid @wb-act-bg;
    outline-style: none;
}

button:hover {
    background-color: @wb-hvr-bg;
    color: @wb-hvr-fg;
    background-size: 30%;
    border: 2px solid @wb-hvr-bg;
    box-shadow: 0 6px 12px rgba(189, 147, 249, 0.4);
}

#lock {
    background-image: image(url("/home/andres/.config/wlogout/icons/lock_white.png"));
}

#shutdown {
    background-image: image(url("/home/andres/.config/wlogout/icons/shutdown_white.png"));
}

#reboot {
    background-image: image(url("/home/andres/.config/wlogout/icons/reboot_white.png"));
}

#lock:hover {
    background-image: image(url("/home/andres/.config/wlogout/icons/lock_black.png"));
}

#shutdown:hover {
    background-image: image(url("/home/andres/.config/wlogout/icons/shutdown_black.png"));
}

#reboot:hover {
    background-image: image(url("/home/andres/.config/wlogout/icons/reboot_black.png"));
}
