/* Dracula-inspired theme for wlogout */
@define-color bar-bg rgba(0, 0, 0, 0);

@define-color main-bg #282a36;
@define-color main-fg #f8f8f2;

@define-color wb-act-bg #6272a4;
@define-color wb-act-fg #f8f8f2;

@define-color wb-hvr-bg #bd93f9;
@define-color wb-hvr-fg #282a36;
