[Unit]
Description=Hyprland session services
Wants=awww-daemon.service waybar.service waybar.path quickshell-control-center.service dunst.service hypridle.service hyprshade.service hyprshade.timer fan-curve.service screensharing.service vicinae.service
