[Unit]
Description=Hyprland session services
Wants=awww-daemon.service waybar.service waybar.path dunst.service hypridle.service hyprshade.service hyprshade.timer fan-curve.service cliphist-text.service cliphist-image.service getnotification.service screensharing.service
