[Unit]
Description=Quickshell control center
PartOf=hyprland-session.target
Wants=pi-beacon.service
After=awww-daemon.service pi-beacon.service

[Service]
ExecStart=/usr/bin/qs --no-duplicate -c control-center
Restart=on-failure
RestartSec=2
