[Unit]
Description=Vicinae launcher daemon
Documentation=https://docs.vicinae.com
Requires=dbus.socket
PartOf=hyprland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/vicinae server --replace
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=60
KillMode=process
