[Unit]
Description=Waybar status bar
PartOf=hyprland-session.target
After=awww-daemon.service

[Service]
ExecStart=/usr/bin/waybar
Restart=on-failure
RestartSec=2
