@define-color black #21222c;
@define-color blackSecondary #414558;
@define-color blackTernary #a7abbe;
@define-color blackLight rgba(33, 34, 44, 0.05);
@define-color grey #414558;
@define-color greySecondary #626784;
@define-color greyTernary #b6b9c9;
@define-color greyLight rgba(65, 69, 88, 0.05);
@define-color white #f8f8f2;
@define-color whiteSecondary #fff;
@define-color cyan #80ffea;
@define-color cyanSecondary #ccfff6;
@define-color cyanLight rgba(128, 255, 234, 0.05);
@define-color green #8aff80;
@define-color greenSecondary #d0ffcc;
@define-color greenLight rgba(138, 255, 128, 0.05);
@define-color orange #ffca80;
@define-color orangeSecondary #ffeacc;
@define-color orangeLight rgba(255, 202, 128, 0.05);
@define-color pink #ff80bf;
@define-color pinkSecondary #ffcce6;
@define-color pinkLight rgba(255, 128, 191, 0.05);
@define-color purple #9580ff;
@define-color purpleSecondary #d4ccff;
@define-color purpleLight rgba(149, 128, 255, 0.05);
@define-color red #ff9580;
@define-color redSecondary #ffd4cc;
@define-color redLight rgba(255, 149, 128, 0.05);
@define-color yellow #ffff80;
@define-color yellowSecondary #ffc;
@define-color yellowLight rgba(255, 255, 128, 0.05);
@define-color cyan-transparent rgba(128, 255, 234, 0.1);
@define-color green-transparent rgba(138, 255, 128, 0.1);
@define-color orange-transparent rgba(255, 202, 128, 0.1);
@define-color pink-transparent rgba(255, 128, 191, 0.1);
@define-color purple-transparent rgba(149, 128, 255, 0.1);
@define-color red-transparent rgba(255, 149, 128, 0.1);
@define-color yellow-transparent rgba(255, 255, 128, 0.1);
@define-color disabled #6c7393;
@define-color cyan-100 rgba(128, 255, 234, 0.1);
@define-color green-100 rgba(138, 255, 128, 0.1);
@define-color orange-100 rgba(255, 202, 128, 0.1);
@define-color pink-100 rgba(255, 128, 191, 0.1);
@define-color purple-100 rgba(149, 128, 255, 0.1);
@define-color red-100 rgba(255, 149, 128, 0.1);
@define-color yellow-100 rgba(255, 255, 128, 0.1);
@define-color cyan-200 rgba(128, 255, 234, 0.2);
@define-color green-200 rgba(138, 255, 128, 0.2);
@define-color orange-200 rgba(255, 202, 128, 0.2);
@define-color pink-200 rgba(255, 128, 191, 0.2);
@define-color purple-200 rgba(149, 128, 255, 0.2);
@define-color red-200 rgba(255, 149, 128, 0.2);
@define-color yellow-200 rgba(255, 255, 128, 0.2);
@define-color cyan-300 rgba(128, 255, 234, 0.3);
@define-color green-300 rgba(138, 255, 128, 0.3);
@define-color orange-300 rgba(255, 202, 128, 0.3);
@define-color pink-300 rgba(255, 128, 191, 0.3);
@define-color purple-300 rgba(149, 128, 255, 0.3);
@define-color red-300 rgba(255, 149, 128, 0.3);
@define-color yellow-300 rgba(255, 255, 128, 0.3);
@define-color cyan-400 rgba(128, 255, 234, 0.4);
@define-color green-400 rgba(138, 255, 128, 0.4);
@define-color orange-400 rgba(255, 202, 128, 0.4);
@define-color pink-400 rgba(255, 128, 191, 0.4);
@define-color purple-400 rgba(149, 128, 255, 0.4);
@define-color red-400 rgba(255, 149, 128, 0.4);
@define-color yellow-400 rgba(255, 255, 128, 0.4);
@define-color cyan-500 rgba(128, 255, 234, 0.5);
@define-color green-500 rgba(138, 255, 128, 0.5);
@define-color orange-500 rgba(255, 202, 128, 0.5);
@define-color pink-500 rgba(255, 128, 191, 0.5);
@define-color purple-500 rgba(149, 128, 255, 0.5);
@define-color red-500 rgba(255, 149, 128, 0.5);
@define-color yellow-500 rgba(255, 255, 128, 0.5);
@define-color cyan-600 rgba(128, 255, 234, 0.6);
@define-color green-600 rgba(138, 255, 128, 0.6);
@define-color orange-600 rgba(255, 202, 128, 0.6);
@define-color pink-600 rgba(255, 128, 191, 0.6);
@define-color purple-600 rgba(149, 128, 255, 0.6);
@define-color red-600 rgba(255, 149, 128, 0.6);
@define-color yellow-600 rgba(255, 255, 128, 0.6);
@define-color cyan-700 rgba(128, 255, 234, 0.7);
@define-color green-700 rgba(138, 255, 128, 0.7);
@define-color orange-700 rgba(255, 202, 128, 0.7);
@define-color pink-700 rgba(255, 128, 191, 0.7);
@define-color purple-700 rgba(149, 128, 255, 0.7);
@define-color red-700 rgba(255, 149, 128, 0.7);
@define-color yellow-700 rgba(255, 255, 128, 0.7);
@define-color cyan-800 rgba(128, 255, 234, 0.8);
@define-color green-800 rgba(138, 255, 128, 0.8);
@define-color orange-800 rgba(255, 202, 128, 0.8);
@define-color pink-800 rgba(255, 128, 191, 0.8);
@define-color purple-800 rgba(149, 128, 255, 0.8);
@define-color red-800 rgba(255, 149, 128, 0.8);
@define-color yellow-800 rgba(255, 255, 128, 0.8);
@define-color cyan-900 rgba(128, 255, 234, 0.9);
@define-color green-900 rgba(138, 255, 128, 0.9);
@define-color orange-900 rgba(255, 202, 128, 0.9);
@define-color pink-900 rgba(255, 128, 191, 0.9);
@define-color purple-900 rgba(149, 128, 255, 0.9);
@define-color red-900 rgba(255, 149, 128, 0.9);
@define-color yellow-900 rgba(255, 255, 128, 0.9);
@define-color black-100 rgba(33, 34, 44, 0.1);
@define-color black-200 rgba(33, 34, 44, 0.2);
@define-color black-300 rgba(33, 34, 44, 0.3);
@define-color black-400 rgba(33, 34, 44, 0.4);
@define-color black-500 rgba(33, 34, 44, 0.5);
@define-color black-600 rgba(33, 34, 44, 0.6);
@define-color black-700 rgba(33, 34, 44, 0.7);
@define-color black-800 rgba(33, 34, 44, 0.8);
@define-color black-900 rgba(33, 34, 44, 0.9);
@define-color grey-100 rgba(65, 69, 88, 0.1);
@define-color grey-200 rgba(65, 69, 88, 0.2);
@define-color grey-300 rgba(65, 69, 88, 0.3);
@define-color grey-400 rgba(65, 69, 88, 0.4);
@define-color grey-500 rgba(65, 69, 88, 0.5);
@define-color grey-600 rgba(65, 69, 88, 0.6);
@define-color grey-700 rgba(65, 69, 88, 0.7);
@define-color grey-800 rgba(65, 69, 88, 0.8);
@define-color grey-900 rgba(65, 69, 88, 0.9);
@define-color accentColor @purple;
