[user]
	email = andres.ortiz@clarity.ai
	name = Andres Ortiz
[pull]
        rebase = true
[rebase]
        autoStash = true
[push]
        autoSetupRemote = true
[url "git@github.com:"]
    insteadOf = "https://github.com/"
