[user]
        email = andres.ortiz.xyz@gmail.com
        name = andres-ortizl
[pull]
        rebase = true
[rebase]
        autoStash = true
[push]
        autoSetupRemote = true
[url "git@github.com:"]
    insteadOf = "https://github.com/"
