[include]
	path = ~/.config/delta/catppuccin.gitconfig

[user]
	email = andres@anyformat.ai
	name = andrew
[pull]
        rebase = true
[rebase]
        autoStash = true
[push]
        autoSetupRemote = true
[url "git@github.com:"]
    insteadOf = "https://github.com/"

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = catppuccin-mocha
    side-by-side = true
    navigate = true
    hyperlinks = true

[merge]
    conflictStyle = zdiff3

[diff]
    colorMoved = default
